<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
      <title>Ricardo Mejolaro</title>
    {% endblock %}

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">

  </head>

  <body>
    <header>
        <div class="links">
          <a href="/">Sobre </a>
          <span>|</span>
          <a href="/videos">Dicas de videos</a>
        </div>
        
        <div class="links-icons-socials">
          <a href="https://github.com/RicardoMejolaro" target="_blank">
            <img src="assets/github.png" alt="Github">
          </a>
          <a href="https://www.linkedin.com/in/ricardo-mejolaro/" target="_blank">
            <img src="assets/linkedin.svg" alt="linkedin">
          </a>
          <a href="https://api.whatsapp.com/send?phone=5511995821129" target="_blank">
            <img src="assets/whatsapp.png" alt="WhatsApp">
          </a>
        </div> 
    </header>

    {% block content %}
      
    {% endblock %}
 
  </body>

</html>